## Write the SQL queries :



#### Table 1

1. Write a query  to retrieve all shoe names and their corresponding prices for men's shoes:


2. Write a query to retrieve the number of different colors available for each category.


3. Write a query to find the most expensive men's shoe.


4. Write a query to find the cheapest women's shoe in a specific color (e.g., 'Black ').


5. Write a query to retrieve all shoe names and their corresponding prices for men's shoes.


#### Table 2


1. Write a query that retrieves the count of sizes for all styles.


2. Write a query to list all styles with their associated colors.


3. Write a to find styles that have more than one color.


4. Write a query to find the count of sizes available for each color for a specific style code.


5. Write a query to find styles that have a specific color.


#### Table 3



1. Write a query calculates the average comfort rating for a specific product based on its reviews.


2. Write a query to retrieve products with high star ratings (e.g., 4 stars or above)


3. Write a query that counts the number of reviews for each product.


4. Write a To retrieve products that have a quantified durability/quality/performance rating above a certain threshold (e.g., above 7).


5. Write a query that  calculates the average comfort rating for each size.


#### 7  Join SQL Queries  using all 3 tables:

1. Write a query finds the top-rated men's shoes along with their sizes from "Table1" and "Table3."

2. Write a  query calculates the average comfort rating for each category from "Table1" and "Table3."

3. Write a  query identifies products with a durability/quality/performance rating higher than the average from "Table1" and "Table3."

4. Write a  subquery finds products with comfort ratings above the average comfort rating using "Table1" and "Table3."

5. Write a  query joins Table 1  and Table 2  using the "Style code/Product code" column, allowing you to retrieve shoe information along with product details.

6. Write a  query that  identifies products with a star rating above the average star rating for their respective size.

7. Write  a  query finds products with the highest comfort rating in each category.


## Phase  3                                                                                30 marks

* Now make only 1 dataframe of 3 csv file using concat/merge /join operation of pandas and start doing EDA .

* Do the complete EDA in details to explore the insights of data and write the detailed observations of each analysis .

## Phase 4                                                                                20 marks

* Write the complete Machine learning code to make predictions of price and star rating. Use appropriate models on their label basis. Remember you need to make 2 different predictions: price and star rating.

* Apply all the best techniques of scaling ,hyperparameter tuning, avoid underfitting or overfitting (bias/variance)

* At the end save the best model and convey on which basis you have chosen that model. 







#### Submission guidelines :

1. You need to submit  only 3 files in Github . Only Github link will be accepted .

2. File 1 :  webscraping phase 1 file

3. File 2 :   SQL Queries phase 2 file

4. File 3 : EDA and Machine Learning  file  .


#### Note:

1. Make one repository on github and send link on last day of submission date.
2. Do not submit direct file in LMS. Only Github link will be accepted.
3. No extension will be provided.
4. Marks criteria will be followed.
5. Plagiarism work/ Use of any AI tool  will not be accepted or cancelled.

In [3]:
# Importing libraries 
# import selenium
import sqlite3
import pandas as pd
import numpy as np
# from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
# from selenium.webdriver.common.by import By
# from selenium.webdriver.common.keys import Keys
# from selenium.webdriver.support.ui import WebDriverWait
# from selenium.webdriver.common.action_chains import ActionChains
# from selenium.webdriver.support import expected_conditions as EC
# from selenium.webdriver.support.ui import Select
# from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, TimeoutException, ElementClickInterceptedException


# from bs4 import BeautifulSoup
# import time
# import regex as re
# import ast

In [4]:
df_table1_nike = pd.read_csv('datasets/Table1_nike.csv', index_col=0)
df_table1_adidas = pd.read_csv('datasets/Table1_adidas.csv', index_col=0)
df_table1_puma = pd.read_csv('datasets/Table1_puma.csv', index_col=0)
df_table1_woodl = pd.read_csv('datasets/Table1_woodland.csv', index_col=0)

In [5]:
df_table2_nike = pd.read_csv('datasets/Table2_nike.csv', index_col=0)
# df_table2_adidas = pd.read_csv('datasets/Table2_adidas.csv', index_col=0)
df_table2_puma = pd.read_csv('datasets/Table2_puma.csv', index_col=0)
df_table2_woodl = pd.read_csv('datasets/Table2_woodland.csv', index_col=0)

In [6]:
df_table3_nike = pd.read_csv('datasets/Table3_nike.csv', index_col=0)
# df_table3_adidas = pd.read_csv('datasets/Table3_adidas.csv', index_col=0)
df_table3_puma = pd.read_csv('datasets/Table3_puma.csv', index_col=0)
df_table3_woodl = pd.read_csv('datasets/Table3_woodland.csv', index_col=0)

In [7]:
df_table1_nike

,ShoeName,URL,no_colors,price_reduce,price,Category,Brand,product_code
0,NaN,https://www.nike.com/t/dunk-low-womens-shoes-4...,1,115.00,115,Women,Nike,DD1503-101
1,Nike Gamma Force,https://www.nike.com/t/gamma-force-womens-shoe...,9,72.97,90,Women,Nike,DX9176-101
2,Nike Court Vision Low Next Nature,https://www.nike.com/t/court-vision-low-next-n...,6,60.97,80,Women,Nike,DH3158-107
3,Nike Air Max 270,https://www.nike.com/t/air-max-270-womens-shoe...,12,120.97,160,Women,Nike,DZ7736-002
4,Nike Air Max 1,https://www.nike.com/t/air-max-1-womens-shoes-...,6,140.00,140,Women,Nike,DZ2628-102
...,...,...,...,...,...,...,...,...
1670,Nike Offcourt (MLB Baltimore Orioles),https://www.nike.com/t/offcourt-baltimore-orio...,1,40.00,40,Men,Nike,DH6978-002
1671,Nike Offcourt (MLB Houston Astros),https://www.nike.com/t/offcourt-houston-astros...,1,40.00,40,Men,Nike,DH6985-002
1672,Nike Offcourt (MLB Seattle Mariners),https://www.nike.com/t/offcourt-seattle-marine...,1,40.00,40,Men,Nike,DH6987-002
1673,Nike Offcourt (MLB Cleveland),https://www.nike.com/t/offcourt-cleveland-slid...,1,40.00,40,Men,Nike,DH7002-002
1674,Nike Offcourt (MLB Pittsburgh Pirates),https://www.nike.com/t/offcourt-pittsburgh-pir...,1,40.00,40,Men,Nike,NaN

In [8]:
df_table1_adidas

,ShoeName,URL,no_colors,price_reduce,price,Category,Brand
0,Superstar XLG Shoes,https://www.adidas.com/us/superstar-xlg-shoes/...,12.0,88.0,110.0,WOMEN Originals,Adidas
1,Cloudfoam Pure Shoes,https://www.adidas.com/us/cloudfoam-pure-shoes...,2.0,45.0,75.0,Women's Essentials,Adidas
2,AdiFOM SST Boot Shoes,https://www.adidas.com/us/adifom-sst-boot-shoe...,3.0,44.0,110.0,Women's Originals,Adidas
3,Racer TR23 Shoes,https://www.adidas.com/us/racer-tr23-shoes/IF3...,11.0,56.0,80.0,Women's Sportswear,Adidas
4,Gazelle Indoor Shoes,https://www.adidas.com/us/gazelle-indoor-shoes...,2.0,105.0,150.0,WOMEN Originals,Adidas
...,...,...,...,...,...,...,...
1933,TERREX Soulstride Trail Running Shoes,https://www.adidas.com/us/terrex-soulstride-tr...,3.0,48.0,80.0,Men's TERREX,Adidas
1934,Adizero Afterburner NWV Cleats,https://www.adidas.com/us/adizero-afterburner-...,10.0,84.0,140.0,Men's Baseball,Adidas
1935,Stabil Next Gen Shoes,https://www.adidas.com/us/stabil-next-gen-shoe...,NaN,96.0,160.0,Men's Training,Adidas
1936,Tour360 22 Golf Shoes,https://www.adidas.com/us/tour360-22-golf-shoe...,7.0,126.0,180.0,Men's Golf,Adidas
1937,Mahomes 1 Impact FLX Shoes,https://www.adidas.com/us/mahomes-1-impact-flx...,6.0,98.0,140.0,MEN Football,Adidas

In [9]:
df_table1_puma

,ShoeName,URL,no_colors,price_reduce,price,Category,Brand,product_code
0,Brown/maroon Canvas shoes for women,https://www.woodlandworldwide.com/productinfo/...,2,2,53.94,Women,WoodLand,FLC0310S2602A
1,Lgrey sneaker for women,https://www.woodlandworldwide.com/productinfo/...,3,3,59.94,Women,WoodLand,FLC015044221A
2,Woodland DCadet Blue casual sneakers,https://www.woodlandworldwide.com/productinfo/...,2,2,59.94,Women,WoodLand,FLC0H9026391B
3,Variglia Sneakers for Women,https://www.woodlandworldwide.com/productinfo/...,3,3,53.94,Women,WoodLand,FLC051044211A
4,DBLUE casual sneakers,https://www.woodlandworldwide.com/productinfo/...,1,1,59.94,Women,WoodLand,FGC0AI024031B
...,...,...,...,...,...,...,...,...
177,Brown Sports Shoe for men,https://www.woodlandworldwide.com/productinfo/...,1,1,95.94,Men,WoodLand,FGC0DY0S0082A
178,PARIS KHAKI sneaker for men,https://www.woodlandworldwide.com/productinfo/...,3,3,59.94,Men,WoodLand,FGC0L4033131A
179,Dubai Khaki sneakers for men,https://www.woodlandworldwide.com/productinfo/...,4,4,44.34,Men,WoodLand,FGC0L4037301A
180,Navy sneakers for men,https://www.woodlandworldwide.com/productinfo/...,2,2,39.54,Men,WoodLand,FGC0Y9032792A
181,Black Slip-on Shoes for men,https://www.woodlandworldwide.com/productinfo/...,2,2,21.54,Men,WoodLand,FGC0Z7041652A

In [10]:
df_table1_woodl

,ShoeName,URL,price_reduce,price,Category,Brand
0,Brown/maroon Canvas shoes for women,https://www.woodlandworldwide.com/productinfo/...,26.96,53.94,Women,WoodLand
1,Lgrey sneaker for women,https://www.woodlandworldwide.com/productinfo/...,59.94,59.94,Women,WoodLand
2,Woodland DCadet Blue casual sneakers,https://www.woodlandworldwide.com/productinfo/...,59.94,59.94,Women,WoodLand
3,Variglia Sneakers for Women,https://www.woodlandworldwide.com/productinfo/...,53.94,53.94,Women,WoodLand
4,DBLUE casual sneakers,https://www.woodlandworldwide.com/productinfo/...,29.96,59.94,Women,WoodLand
...,...,...,...,...,...,...
177,Brown Sports Shoe for men,https://www.woodlandworldwide.com/productinfo/...,57.56,95.94,Men,WoodLand
178,PARIS KHAKI sneaker for men,https://www.woodlandworldwide.com/productinfo/...,35.96,59.94,Men,WoodLand
179,Dubai Khaki sneakers for men,https://www.woodlandworldwide.com/productinfo/...,44.34,44.34,Men,WoodLand
180,Navy sneakers for men,https://www.woodlandworldwide.com/productinfo/...,23.72,39.54,Men,WoodLand
181,Black Slip-on Shoes for men,https://www.woodlandworldwide.com/productinfo/...,16.15,21.54,Men,WoodLand